<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>PyGYM - Gym, Networking, Nutrition</title>
</head>
<body>
    
    
    <h1><i class="fas fa-cart-plus"></i></h1>

    

   <section>
    
    <div>
        <img src="/images/products/supplement1VitE.jpg" alt="">
        <h6><span>24.99$</span></h6>
        <p>Optimized Vitamin E Capsules | 73mg | D-Alpha Tocopheryl Succinate | Antioxidant</p>        <span></span>
        <button>Add to Cart</button>
    </div>
    <div>
        <img src="/images/products/supplement2MNucleotide.jpg" alt="">
        <h6><span>29.99$</span></h6>
        <p>Nicotinamide Mononucleotide Capsules | 250mg | NAD+ Precursor | NMN Supplement</p>        <span></span>
        <button>Add to Cart</button>
    </div>

    <div>
        <img src="/images/products/supplement2VitaminD3K2.jpg" alt="">
        <h6><span>19.99$</span></h6>
        <p>OmegaTAU Capsules | Enhanced Uridine + DHA</p>        <span></span>
        <button>Add to Cart</button>
    </div>

    <div>
        <img src="/images/products/supplement2OmegaTAU.jpg" alt="">
        <h6><span>26.99$</span></h6>
        <p>Vitamin D3 + K2 With Vitamin C Tablets | Cholecalciferol + Menaquinone-7 (MK-7)</p>        <span></span>
        <button>Add to Cart</button>
    </div>

    <div>
        <img src="/images/products/Powder1Blessed.jpg" alt="">
        <h6><span>24.99$</span></h6>
        <p>Blessed | Plant Based Protein |  2lb</p>        <span></span>
        <button>Add to Cart</button>
    </div>
    <div>
        <img src="/images/products/Powder2Vega.jpg" alt="">
        <h6><span>39.99$</span></h6>
        <p>Beyond Yourself | Vegan | 2lbs</p>        <span></span>
        <button>Add to Cart</button>
    </div>
    <div>
        <img src="/images/products/Powder3RevoHighWhey.jpg" alt="">
        <h6><span>49.99$</span></h6>
        <p>Revolution | High Whey 6lb | Revolution Nutrition</p>        <span></span>
        <button>Add to Cart</button>
    </div>
    <div>
        <img src="/images/products/Powder4jCreatine.jpg">
        <h6><span>19.99$</span></h6>
        <p>MuscleTech Creactor 256g | MuscleTech</p>        <span></span>
        <button>Add to Cart</button>
    </div>
   </section>

   <div class="select"></div>


    <script src="../static/js/allmin.js"></script>
    <script src="../static/js/cart.js"></script>
</body>
</html>