<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>PyGYM - Gym, Networking, Nutrition</title>
</head>
<body>
    
    
    <h1><i class="fas fa-cart-plus"></i></h1>

    

   <section>
    
    <div>
        <img src="/images/goldmember.png" alt="">
        <h6><span>Cost: 49.99$/Month</span></h6>
        <p>Gold Membership</p> <span></span>
        <button>Add to Cart</button>
    </div>
    <div>
        <img src="/images/silvermember.png" alt="">
        <h6><span>Cost: 39.99$/Month</span></h6>
        <p>Silver Membership</p>        <span></span>
        <button>Add to Cart</button>
    </div>

    <div>
        <img src="/images/bronzemember.png" alt="">
        <h6><span>Cost: 29.99$/Month</span></h6>
        <p>Bronze Membership</p>        <span></span>
        <button>Add to Cart</button>
    </div>

    
   </section>

   <div class="select"></div>


    <script src="../static/js/allmin.js"></script>
    <script src="../static/js/cart.js"></script>
</body>
</html>