<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Page</title>
 
    
    <!-- <link rel="stylesheet" href="/css/login.css"> -->

    <link rel="stylesheet" href="/css/signup.css">
  
</head>
<body>

    <form>
        <h3>💪💪Register Here💪💪</h3>

        <label for="username">Choose Your Username</label>
        <input type="text" placeholder="Username or Phone" id="username">

        <label for="password">Choose Your Password</label>
        <input type="password" placeholder="Enter Your Password" id="password">
        <label for="password">Repeat Your Password</label>
        <input type="password" placeholder="Re-Enter your Password" id="password">

        <label for="Email">Enter your Email</label>
        <input type="Email" placeholder="Email" id="Email">

        <button>Sign Up</button>

 

    </form>

</body>
</html>
